{% extends "base.html" %}

{% block hero %}
<div class="hero">
  <h1>IRIS</h1>
</div>
{% endblock %}

{% block content %}

<section class="about">
  <h2>О нас</h2>
  <p>
    Ваш источник стильной и уникальной одежды, созданной с любовью и вниманием к деталям.
    Наша миссия — предоставить Вам уникальные и современные вещи, созданные при помощи
    методики <span class="method-link">«Инаниммодизация»</span>.
  </p>

  <p>
    Мы верим, что одежда — это не просто ткань, а способ самовыражения. Каждая коллекция
    разрабатывается с учетом последних модных тенденций и в сочетании с историческими
    образами, создавая яркий и необычный стиль.
  </p>

  <p>
    В Iris мы стремимся создать сообщество людей, которые ценят историю и мифологию.
    Спасибо, что выбрали Iris — мы рады быть частью Вашего стиля.
  </p>
</section>

<section class="team">
  <h2>Наша команда</h2>

  <div class="team-card">
    <img src="{{ url_for('static', filename='images/creator.jpg') }}" alt="">
    <div>
      <h3>Создатель</h3>
      <p>
        Здравствуйте! Я <span class="blur">К****** И******</span> — создатель уникальной
        методики «Инаниммодизация», автор коллекций:
      </p>
      <ul>
        <li>«Хуманизация богов солнца в одежде»</li>
        <li>«Инаниммодизация в костюмах регионов России»</li>
        <li>Театральные костюмы и музыка Н. А. Римского-Корсакова</li>
      </ul>
      <p>
        Дизайнер одежды и графический дизайнер.<br>
        Желаю приятного просмотра ✧
      </p>
    </div>
  </div>
</section>

<section class="contacts">
  <h2>Обратная связь</h2>
  <p>Почта: <span class="blur">kmi_imk@mail.ru</span></p>
  <p>Telegram: <span class="blur">@Iri_irrl</span></p>
  <p>Телефон: <span class="blur">+7•••••••••49</span></p>
</section>

{% endblock %}