<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Iris — Справка</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header class="header">
  <div class="header-top">
    <span class="logo">IRIS</span>

    <nav class="menu">
      <a href="/">главная</a>
      <a href="{{ url_for('catalog') }}">Каталог</a>
      <a href="{{ url_for('photosessions') }}">Фотосессии</a>
      <!-- a href="{{ url_for('lookbooks') }}">Лукбуки</a -->
      <!-- a href="{{ url_for('projects') }}">Будущие проекты</a -->
      <a href="{{ url_for('reference') }}">Справка</a>
    </nav>
  </div>

  <div class="hero">
    <h1>Справка</h1>
  </div>
</header>

<main class="photos-page">

  <!-- ================= БОГИ ================= -->
  <section class="photosession-block">

    <div class="photosession-image1">
      <!--a  href="{{ url_for('gods') }}"-->
      <img src="{{ url_for('static', filename='images/gods-referenc.jpg') }}">
      <!-- /a -->
      <div class="photosession-label1">
        Справка о богах (в разработке)<br>
      </div>
    </div>
  </section>


  <!-- ================= ГОРОДА ================= -->
  <section class="photosession-block">

    <div class="photosession-image1">
      <!-- a href="{{ url_for('citys') }}" -->
      <img src="{{ url_for('static', filename='images/city-referenc.jpg') }}">
      <!-- /a -->
      <div class="photosession-label1">
        Справка о регионах (в разработке)<br>
      </div>
    </div>
  </section>
</main>

<footer class="footer">
  <p>© IRIS · Мифология · История · Современность</p>
</footer>

<script>
function toggleSession(el) {
  const catalog = el.nextElementSibling;
  catalog.style.display =
    catalog.style.display === 'flex' ? 'none' : 'flex';
}

function toggleCostume(el) {
  const gallery = el.querySelector('.costume-gallery');
  gallery.style.display =
    gallery.style.display === 'grid' ? 'none' : 'grid';
}
</script>

</body>
</html>